In [1]:
import pymysql
import getpass
pswd = getpass.getpass('Password:')

Password:········

In [2]:
conn = pymysql.connect(host='cijbest.cbn0ky8z6lpv.ap-northeast-2.rds.amazonaws.com',
                      user='cijbest', password=pswd,
                      db ='kookmin_univ', charset='utf8')

OperationalError: (2003, "Can't connect to MySQL server on 'cijbest.cbn0ky8z6lpv.ap-northeast-2.rds.amazonaws.com' ([Errno 110] Connection timed out)")

In [ ]:
curs = conn.cursor()

In [ ]:
sql = 'create table user_score (
    id int AUTO_INCREMENT PRIMARY KEY, 
    first_name varchar(32),
    last_name varchar(32),
    score int,
    created timestamp DEFAULT CURRENT_TIMESTAMP
)';
curs.execute(sql)

In [ ]:
sql = 'describe user_score';
curs.execute(sql)

In [ ]:
sql = 'select last_name, AVG(score), MIN(score), MAX(score) from user_score GROUP BY last_name';
curs.execute(sql)

In [ ]:
sql = 'select last_name, AVG(score), MIN(score), MAX(score) from user_score GROUP BY 1 ORDER BY 2 DESC;';
curs.execute(sql)

In [ ]:
sql = 'select last_name from user_score';
curs.execute(sql)

In [ ]:
sql = 'select distinct (last_name) from user_score';
curs.execute(sql)