In [6]:
import pymysql
import getpass
pswd = getpass.getpass('Password:')

Password:········

In [7]:
 conn = pymysql.connect(host='cijbest.cbn0ky8z6lpv.ap-northeast-2.rds.amazonaws.com',
                      user='cijbest', password=pswd,
                      db ='kookmin_univ', charset='utf8')

In [8]:
curs = conn.cursor()

In [16]:
sql = '''create table user_score (
    id int AUTO_INCREMENT PRIMARY KEY, 
    first_name varchar(32),
    last_name varchar(32),
    score int,
    created timestamp DEFAULT CURRENT_TIMESTAMP
)''';
curs.execute(sql)

0

In [19]:
sql='''insert into user_score (first_name, last_name, score) values ("jerry", "lee", 90), 
("brian", "lee", 100),
("tim", "park", 80),
("kate", "park", 30),
("ann", "kim", 60),
("paul", "kim", 20)'''
curs.execute(sql)

6

In [20]:
sql = 'select last_name, AVG(score), MIN(score), MAX(score) from user_score GROUP BY last_name';
curs.execute(sql)
print(curs.fetchall())

(('kim', Decimal('40.0000'), 20, 60), ('lee', Decimal('95.0000'), 90, 100), ('park', Decimal('55.0000'), 30, 80))

In [25]:
sql = 'select last_name, AVG(score), MIN(score), MAX(score) from user_score GROUP BY 1 ORDER BY 2 DESC;';
curs.execute(sql)
print(curs.fetchall())

(('lee', Decimal('95.0000'), 90, 100), ('park', Decimal('55.0000'), 30, 80), ('kim', Decimal('40.0000'), 20, 60))

In [26]:
sql = 'select last_name from user_score';
curs.execute(sql)
print(curs.fetchall())

(('lee',), ('lee',), ('park',), ('park',), ('kim',), ('kim',))

In [27]:
sql = 'select distinct (last_name) from user_score';
curs.execute(sql)
print(curs.fetchall())

(('lee',), ('park',), ('kim',))