# Postgresql module 임포트하기
psycopg2 모듈이 설치되어 있지 않다면 다음을 실행
<blockquote>
conda install -c anaconda psycopg2=2.6.2
</blockquote>

In [16]:
import psycopg2

# Redshift instance를 연결하기

In [17]:
conn = psycopg2.connect("dbname='prod' user='admin' host='13.124.7.179' password='Kookmin1' port='5439'")
conn.autocommit = True

In [18]:
cur = conn.cursor()

# JOIN SQL을 실행해보기¶

### INNER JOIN

In [19]:
sql = "SELECT * FROM student s JOIN zipcode z ON s.zipcode_id = z.id;" # inner join / student의 모든 zipcode가 zipcode 테이블에 있다는 가정하에만 동작하고 데이터없으면 결과값이 안 나옴
cur.execute(sql)

In [20]:
rows = cur.fetchall()
for row in rows:
    print(row)

('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')

### FULL OUTER JOIN

In [21]:
sql = "SELECT * FROM student s FULL OUTER JOIN zipcode z ON s.zipcode_id = z.id;" # outer join / 무시가 되는 레코드들도 나타냄, 결과값이 없으면 None으로 표시.
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')
('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('steve', 'jung', 1003, None, None, None)

## LEFT OUTER JOIN

In [24]:
sql = "SELECT * FROM student s LEFT OUTER JOIN zipcode z ON s.zipcode_id = z.id;" # left outer join / 왼쪽 테이블에 있는 정보가 없는 것도 출력
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')
('steve', 'jung', 1003, None, None, None)

## RIGHT OUTER JOIN

In [26]:
sql = "SELECT * FROM student s RIGHT OUTER JOIN zipcode z ON s.zipcode_id = z.id;" #  # right outer join / 오른쪽 테이블에 있는 정보가 없는 것도 출력
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')
(None, None, None, 1004, 'california', 'sunnyvale')

# 커넥션 연결하기

In [14]:
cur.close()
conn.close()